@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, var(--font-poppins), Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
  --font-pixelify: 'Pixelify Sans', cursive;
  --font-protest: 'Protest Revolution', sans-serif;
  --font-vt323: 'VT323', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

code {
  font-family: var(--font-mono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace);
}

.font-pixelify {
  font-family: var(--font-pixelify);
}

.font-protest {
  font-family: var(--font-protest);
}

.font-vt323 {
  font-family: var(--font-vt323);
}
